

.CardContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541) !important;
}


.CardHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #F1F7ED;
}

.CardHeaderContainer img{
    max-width: 300px;
}


.CardContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.CardContainer button{
    font-family: "FreightBigProMedium";
    font-size: 1.2rem;
    color: #F1F7ED;
    background-color: #B33951;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px ;
    text-align: center;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease-in-out;
}

.CardContainer button:hover{
    background-color: #F1F7ED;
    color: #B33951;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541);
    cursor: pointer;
}

#RoomHeader{
    font-family: "Lato";
    font-weight: 600;
    font-size: 2rem;
    color: black;
}

#RoomStyles{
    font-family: "FreightBigProBook";
    font-weight: 400;
    font-size: 2rem;
    color: #B33951;
}

.checkInContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.checkInContainer h2{
    font-family: "FreightBigProBook";
    font-size: 1.5rem;
    color: #B33951;
}

.checkInContainer h1{
    font-family: "Lato";
    font-size: 1.6rem;
    color: #000000;
}

@media screen and (min-width: 768px) {

    .CardimgContentContainer{
        display: flex;
        width: 100%;
        height: 70%;
        padding: 10px;
    }
    .CardContainer {
        height: 40vh;
        flex-direction: column;
        margin: 20px 0;
    }

    .CardHeaderContainer {
        height: 100%;
        width: 50%;
        border-bottom: none;
        border-right: 1px solid #F1F7ED;
    }

    .CardHeaderContainer img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .CardContentContainer {
        height: 100%;
        width: 50%;
        justify-content: space-between;
    }

    .checkInContainer {
        height: auto;
        flex-direction: row;
        gap: 20px;
        padding: 0;
    }

    .CardContainer button {
        width: 60%;
        margin: 20px 0;
        font-size: 1.1rem;
    }

    #RoomHeader {
        font-size: 1.2rem;
    }

    #RoomStyles {
        font-size: 1.6rem;
    }

    .checkInContainer h2 {
        font-size: 1rem;
    }

    .checkInContainer h1 {
        font-size: 0.85rem;
    }

    
}