

.CardContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.CardHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #F1F7ED;
}

.CardHeaderContainer img{
    max-width: 300px;
}


.CardContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.CardContainer button{
    font-family: "FreightBigProMedium";
    font-size: 1.2rem;
    color: #F1F7ED;
    background-color: #B33951;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px ;
    text-align: center;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease-in-out;
}

.CardContainer button:hover{
    background-color: #F1F7ED;
    color: #B33951;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541);
    cursor: pointer;
}