


.Dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Dashboard h1{
    font-size: 2rem;
    font-family: "FreightBigProBook";
    color: #b33951;
}



.dashboardContent{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.dashboardBookingsContainer{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboardBookingsContainer h2{
    font-size: 1.5rem;
    font-family: "FreightBigProBook";
    color: #b33951;
}

.dashboardBookingsContainer p{
    font-size: 1.2rem;
    font-family: "FreightBigProBook";
    color: #000000;
}

.dashboardReservation{
    width: 90%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541);

}

.dashboardReservation h2{
    font-size: 2rem;
    font-family: "FreightBigProBook";
    color: #b33951;
    width: 100%;
    text-align: center;
}





@media screen and (min-width: 768px){
    .Dashboard{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    

    .dashboardContent{
        flex-direction: row;
        column-gap: 10px;
    }

    .dashboardBookingsContainer{
        width: 40%;
    }

    .dashboardReservation{
        width: 40%;
    }
    
}