@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
    font-family: "FreightBigProBold";
    src: url('./Fonts/FreightBigProBold.ttf');
}
@font-face {
    font-family: "FreightBigProBook";
    src: url('./Fonts/FreightBigProBook.ttf');
}
@font-face {
    font-family: "FreightBigProMedium";
    src: url('./Fonts/FreightBigProMedium.ttf');
}
@font-face {
    font-family: "FreightBigProLight";
    src: url('./Fonts/FreightBigProLight.ttf');
}
@font-face{
    font-family: "Muli";
    src: url('./Fonts/Muli.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header-container{
    display: flex;
    z-index: 2;
    position: relative;
    align-items: center;
    padding:  20px;
    --angle: 45deg; 
    background: linear-gradient(var(--angle), oklab(82.7% 0.007 0.045), oklab(71.7% 0.019 0.058), oklab(63.2% 0.027 0.057), oklab(56.7% 0.028 0.05), oklab(48.8% 0.027 0.043));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.desktop-header-container{
  display: none;
}

.logoContainer{
    
    padding: 5px;
}

.link-logo-container-mobile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.signup{
    font-family: "FreightBigProMedium";
    font-size: 1.2rem;
    color: #F1F7ED;
    text-decoration: none;
    background-color: #B33951;
    padding: 10px;
    width: 20%;
    text-align: center;
    border-radius: 20px;
}

.signup:hover{
    background-color: #F1F7ED;
    color: #B33951;
    cursor: pointer;
}

.logoContainer p a{
    text-decoration: none;
    font-family: "FreightBigProMedium";
    font-size: 1.2rem;
    font-weight: 400;
    color: #F1F7ED;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    font-family: "Muli";
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px;
    transition: all 0.3s ease;
  }

  .hamburger{
    display: none;
    cursor: pointer;
    flex-direction: column;
  }


@media (max-width: 768px) {
    .nav-links {
        
      display: none;
      position: absolute;
      top: 85px;
      right: 0;
      opacity: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease;
      --angle: 45deg; 
      background: linear-gradient(var(--angle), oklab(82.7% 0.007 0.045), oklab(71.7% 0.019 0.058), oklab(63.2% 0.027 0.057), oklab(56.7% 0.028 0.05), oklab(48.8% 0.027 0.043));
        transform: translateY(-20px);
    }

    
  
    .nav-links.active {
      display: flex;
      color: black;
      transition: all 0.3s ease;
      opacity: 1;
      transform: translateY(0);
    }
  
    .hamburger {
      display: flex;
    }
  
    li {
      margin: 10px 0;
    }
  }
  
  .hamburger.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }


  @media screen and (min-width: 768px){
    .Header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  20px;
        background-color: transparent;
        background-color: #91C7B1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
    }

    .signup{
        display: none;
    }

    
    .link-logo-container-mobile{
        display: none;
    }
    .nav-links{
        display: flex;
        align-items: center;
        margin-left: auto;
      }

    .desktop-header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .logoContainer-desktop{
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        font-family: "FreightBigProMedium";
        font-size: 1.2rem;
        color: #F1F7ED;
    }

    .nav-links li{
        list-style: none;
        display: flex;
    }

    .nav-links li a{
        font-family: "FreightBigProMedium";
        font-size: 1rem;
        color: #F1F7ED;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .nav-links li a:hover{
        color: #B33951 ;
        
    }
    .hamburger{
        display: none;
    }

    #signup-desktop-link{
      text-align: center;
      background-color: #B33951;
      padding: 10px;
      border-radius: 20px;
      font-family: "FreightBigProMedium";
      font-size: 1.2rem;
      color: #F1F7ED;
    }

    #signup-desktop-link:hover{
      background-color: #F1F7ED;
      color: #B33951;
      cursor: pointer;
    }
    
  }