@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


@font-face {
    font-family: "FreightBigProBold";
    src: url('./Fonts/FreightBigProBold.ttf');
}
@font-face {
    font-family: "FreightBigProBook";
    src: url('./Fonts/FreightBigProBook.ttf');
}
@font-face {
    font-family: "FreightBigProMedium";
    src: url('./Fonts/FreightBigProMedium.ttf');
}
@font-face {
    font-family: "FreightBigProLight";
    src: url('./Fonts/FreightBigProLight.ttf');
}
@font-face{
    font-family: "Muli";
    src: url('./Fonts/Muli.ttf');
}


h1{
    font-family: "Muli";
    font-size: 20px;
    color: #000;
}



.WelcomeSection{
    background-size: cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../Images/OutsideView-min.jpg");
    background-position: center;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(5px);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.WelcomeSection::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter:brightness(0.5);
    z-index: 1;
}
.WelcomeSection h1{
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: "FreightBigProBold";
    font-size: 3rem;
    color: #ffffff;
    position: relative;
    z-index: 2;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.Welcome-content-desktop{
    display: none;
}

.WelcomeSection p{
    width: 30%;
    padding-top: 10px;
    text-align: center;
    font-family: "Lato";
    font-size: 1rem;
    color: white;
    position: relative;
    z-index: 2;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.Welcome-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#VerticalSearchBarContainer{
    display: none;
}

.AboutHotelSection{
    margin-bottom: 50px;
}

.AboutHotelImgContainerRow1{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ImageCircular{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);

}

.ImageCircular img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.AboutHotelImgContainerRow2{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.ImageCircular2{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);

}

.ImageCircular2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.AboutHotelContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.AboutHotelContent h1{
    font-family: "FreightBigProBold";
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

.AboutHotelContent p{
    font-family: "Lato";
    font-size: 1.1rem;
    color: #000000;
    text-align: center;
    width: 90%;
}

.AboutHotelContent button{
    background-color: #B33951;
    color: white;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.AboutHotelContent button:hover{
    background-color: #ffffff;
    color: #B33951;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);
}

.AboutHotelImgContainerRow2:nth-of-type(1){
    display: none;
}
/* Service section*/

.Services-Amenities-Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.Services-Amenities-Container h1{
    font-family: "FreightBigProBold";
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

.Services-Amenities-Container h2{
    font-family: "FreightBigProBold";
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
}

.Services-Amenities-Content{
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.Services-Amenities-Description{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.Services-Amenities-Description button{
    margin: 20px;
    background-color: #B33951;
    
}



.AmenitiesRow2{
    display: flex;
    flex-direction: row-reverse;
    width:100%;
}

.Services-Amenities-Content2{
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.Services-Amenities-Description2 button{
    margin: 20px;
    background-color: #B33951;
    
}

.image-container-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.image-container-services2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.image-container-services2 img{
    width: 100%;
    max-width: 600px;
}

.Services-Amenities-Description2{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
















.Offers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.OffersHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.OffersHeader h1{
    font-family: "FreightBigProBold";
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

.OffersHeader p {
    font-family: "Lato";
    font-size: 1.1rem;
    color: #000000;
    text-align: center;
    width: 90%;

}


.OffersCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    gap: 20px;
    width: 80%;
    max-width: 400px;
    min-height: 530px;
    
    
}

.Card-Header img{
    object-fit: cover;
    max-height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.Card-Header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px !important;
}

.Specials-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    min-height: 150px;

}

.Specials-content p{
    font-family: "Lato";
    font-size: 0.9rem;
    color: #000000;
    text-align: center;
}

.Specials-content{
    width: 90%;
    padding: 0px !important;
}




.Learn-btn button{
    background-color: #B33951 !important;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Learn-btn button:hover{
    background-color: #ffffff !important;
    color: #B33951;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);
}

.CardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


/*Contact-Us-Mobile*/
.ContactUsSection{
    background-color: #B33951;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    
}

.ContactUsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ContactFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.ContactFormContainer h1{
    font-family: "FreightBigProBold";
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

.ContactFormContainer p{
    font-family: "Lato";
    font-size: 1.1rem;
    color: #ffffff;
    text-align: center;
    width: 90%;
}





@media screen and (min-width: 768px){
    .Welcome-content{
        display: none;
    }

    .Welcome-content-desktop{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .Welcome-content-desktop h1{
        font-size: 5rem;
    }

    .Welcome-content-desktop p{
        padding: 10px;
        font-size: 1.2rem;
        width: 90%;
        border-top: 2px solid ;
        border-bottom: 1px solid ;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .AboutHotelContainer{
        display: flex;
        flex-direction: row;
    }

    .AboutHotelImageContainer{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }
    .AboutHotelImgContainerRow2:nth-of-type(1){
        display: inline-flex;
    }

    .AboutHotelImgContainerRow1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        padding: 0px;
    }

    .ImageCircular{
        width: 400px;
        height: 400px;
        box-shadow: -5px 6px 12px rgba(0, 0, 0, 0.651);
    }

    .ImageCircular img{
        width: 100%;
    }

    .AboutHotelImgContainerRow2{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    


    .ImageCircular2{
        width: 150px;
        height: 150px;
        box-shadow: -5px 6px 12px rgba(0, 0, 0, 0.651);
    }

    .AboutHotelContent{
        width: 50%;
    }

    .AboutHotelContent button{
        background-color: white !important;
        color: #B33951;
        border-bottom: 1px Solid black;
        border-radius: 0px;
    }

    .AboutHotelContent button:hover{
        background-color: #B33951 !important;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);
    }

    /*Services section*/
    .Services-Amenities-Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 20px;
    }

    .serviceHeader{
        width: 100%;
        display: flex;

    }

    .serviceHeader h1{
        margin-left: 20px;
        width: 60%;
        font-family: "FreightBigProBold";
        font-size: 3rem;
        color: #B33951;
        text-align: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.205);
        text-align: left;

    }
    
    .Services-Amenities-Content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .image-container-services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        max-width: 900px;
        max-height: 800px;
        overflow: hidden;
        align-items: center;
        object-fit: cover;
        object-position: center;
        gap: 20px;
        
    }
    
    .image-container-services img{
        width: 100%;
        height: 100%;
        max-width: 1000px;
        object-fit: cover;
        object-position: center;
    }
    
    .Services-Amenities-Description{
        display: flex;
        flex-direction: column;
        width: 40%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .Services-Amenities-Description h2{
        font-family: "FreightBigProBold";
        font-size: 2rem;
    }

    .Services-Amenities-Description button{
        background-color: white !important;
        color: #B33951;
        border-bottom: 1px Solid black;
        border-radius: 0px;
        transition: 0.7s ease-in-out;
    }
    
    .Services-Amenities-Description button:hover{
        background-color: #B33951 !important;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);
    }





    .image-container-services2{
        display: flex;
        justify-content: center;
        width: 60%;
        align-items: center;
        gap: 20px;
        overflow: hidden;
        max-width: 800px;
        max-height: 800px;
    }
    
    .image-container-services2 img{
        width: 100%;
        max-width: 1000px;
        object-fit: cover;
        object-position: center;
    }
    
    .Services-Amenities-Description2{
        display: flex;
        flex-direction: column;
        width: 40%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .Services-Amenities-Content2{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .Services-Amenities-Description2 button{
        background-color: white !important;
        color: #B33951;
        border-bottom: 1px Solid black;
        border-radius: 0px;
        transition: 0.7s ease-in-out;
    }
    
    .Services-Amenities-Description2 button:hover{
        background-color: #B33951 !important;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);
    }




    .OffersCard{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);

    }

    .OffersCard:hover{
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);
    }


    .Dining-Area-Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .Dining-Area-Content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .image-container-dining{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        align-items: center;
    }

    .image-container-dining img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .content-btn-cont{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    .content-btn-cont p{
        font-size: 1.3rem;
        max-width: 500px ;
    }

    


    .Nearby-Attraction-Content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .image-container-attractions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        align-items: center;
    }


    /*contact us laptop*/

    .ContactUsContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .Contactpic{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .ContactFormContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 50%;
    }

    .ContactFormContainer button{
        background-color: #B33951 !important;
        color: white;
        border-bottom: 1px Solid black;
        border-radius: 0px;
        transition: all 0.7s ease-in-out;
    }

    .ContactFormContainer button:hover{
        background-color: white !important;
        color: #B33951;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.651);
    }

}