@font-face {
    font-family: "FreightBigProBold";
    src: url('./Fonts/FreightBigProBold.ttf');
}
@font-face {
    font-family: "FreightBigProBook";
    src: url('./Fonts/FreightBigProBook.ttf');
}
@font-face {
    font-family: "FreightBigProMedium";
    src: url('./Fonts/FreightBigProMedium.ttf');
}
@font-face {
    font-family: "FreightBigProLight";
    src: url('./Fonts/FreightBigProLight.ttf');
}
@font-face{
    font-family: "Muli";
    src: url('./Fonts/Muli.ttf');
}

.CategoryContainer{
height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 20px;
}


.SelectorBox {
    height: 100%;
    width: 80%;
    display: flex;    
    align-items: center;
}

.SelectorBox ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}

.SelectorBox ul li{
    font-family: muli;
    color: #B33951;
    font-size: 1rem;
    justify-content: center;
}

.CategorySelector {
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

.CategorySelector:hover{
    height: 90%;
    width: 100%;
    justify-content: center;
    transform: scale(1.1);
    cursor: pointer;
    text-align: center;
    background-color: #B33951;
    color: white;    
}

.selectedCategory {
    color: white !important;
    background-color: #B33951;
}


.CategoryCardContainer{
    width: 100%;
    height: 100%;
}

.CategoryServiceCards {
    border: 1px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.CategoryServiceCards img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 15px;
}



.GuestContainer h1{
    font-family: "FreightBigProMedium";
    font-size: 2rem;
    color: #B33951;
    text-align: center;
}



.GuestTestimonalContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.GuestList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.GuestList li h1{
    font-size: 2rem;
    font-family: "FreightBigProMedium";
}

.GuestList li p{
    font-family: "Muli";
}


.HotelUserBox{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */

}

.HotelUserBox img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;    
    
}
