@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


@font-face {
    font-family: "FreightBigProBold";
    src: url('./Fonts/FreightBigProBold.ttf');
}
@font-face {
    font-family: "FreightBigProBook";
    src: url('./Fonts/FreightBigProBook.ttf');
}
@font-face {
    font-family: "FreightBigProMedium";
    src: url('./Fonts/FreightBigProMedium.ttf');
}
@font-face {
    font-family: "FreightBigProLight";
    src: url('./Fonts/FreightBigProLight.ttf');
}
@font-face{
    font-family: "Muli";
    src: url('./Fonts/Muli.ttf');
}








.ServicesLandingPage{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ServicesOpeningSection{
    background-image: url('../Images/Spa1-min.jpg');
    background-position: center 1% 1%;
    background-repeat:no-repeat ;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(0.8);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    text-align: center;
}





.ServicesOpeningSection h4{
    font-family: "Lato";
    color: #000000;
    padding-left: 20px;
    padding-right: 20px ;
    font-size: 1.5rem;
}

.ServicesOpeningSection h1{
    font-family: "FreightBigProBook";
    font-size: 3rem;
    font-weight: 700;
    color: #B33951;
}

.ServicesOpeningText{
    height: 40%;

}

.HotelDetails{
    margin: 10px;
}

.HotelDetailsHeader h1{
    color: #B33951;
    font-size: 2.5rem;
    padding: 10px;
    font-family: "FreightBigProBook";

}

.HotelDetailsHeader{
    text-align: center;
}

.SelectorBox{
    margin-top: 10px;
}

.SelectorBox ul li{
    border: 1px solid black;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.SelectorBox ul li:hover{

    cursor: pointer;
    background-color: #B33951;
}

.CategorySelector{
    background-color: white;
}